footer {
  margin-top: 30px !important;
  padding-top: 48px !important;
  padding-bottom: 48px !important;
  color: #161415;
  font-size: 14px;
  position: fixed;
  text-align: center;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  display: block;
  background: #0f0f0f;
}
#go-top a {
text-decoration: none;
border: 0 none;
display: block;
width: 60px;
height: 60px;
background-color: #525252;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
color: #fff;
font-size: 21px;
line-height: 60px;
border-radius: 100%;
}
#go-top {
position: absolute;
top: -24px;
left: 50%;
margin-left: -30px;
}
.row .twelve {
width: 100%;
}
.row {
width: 96%;
max-width: 1020px;
margin: 0 auto;
}

.column, .columns {
position: relative;
padding: 0 20px;
min-height: 1px;
/*float: left;*/
}

footer .social-links {
margin: 18px 0 30px 0;
padding: 0;
font-size: 30px;

}
footer a, footer a:visited {
  font-family: sans-serif;
color: #525252;
}
footer a:hover, footer a:focus {
color: #fff;
}
footer .social-links li:first-child {
margin-left: 0;
}
footer .social-links li {

margin: 0;
padding: 0;
margin-left: 42px;
color: #F06000;
}
footer li {
line-height: 18px;
display: inline-block;
margin-bottom: 12px;
}
footer ul{
  list-style: none outside;
}